@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Geist", serif, sans-serif;
    background-color: rgba(0, 142, 224, 0.937);
}

h1,
h2,
h3 {
    font-family: "Dynapuff", serif;
    font-weight: 500;
    color: #111111;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 800px 280px 1fr;
    grid-template-areas: ". content sidebar .";
    margin: 36px 0px;
}

#sidebar-content {
    grid-area: sidebar;
    padding: 18px;
}
#sidebar-content h2 {
    background-color: whitesmoke;
    border-radius: 5px 5px 0px 0px;
    padding: 12px;
    font-size: 18px;
    margin: 0px;
    color: #111111;
}
#sidebar-content ul {
    list-style-type: none;
    padding: 0px 12px;
    background-color: rgba(191, 191, 191, 0.3);
    margin: 0px 0px 36px;
    border: 1px solid whitesmoke;
    border-radius: 0px 0px 5px 5px;
}
#sidebar-content a {
    color: whitesmoke;
    text-decoration: none;
}
#sidebar-content li {
    padding: 8px 0px;
    border-bottom: 1px solid whitesmoke;
}
#sidebar-content li:last-child {
    border-bottom: none;
}

#sidebar-content li:hover {
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 5px;
}
#sidebar-content li:hover a {
    color: black;
}

#main-content {
    background-color: whitesmoke;
    grid-area: content;
    margin: 0px 36px;
    padding: 20px 48px;
    border-radius: 30px;
    /* border: 5px solid skyblue; */
}
#top {
    display: flex;
}
#right-top {
    flex: 1;
    text-align: right;
    margin: 5px 0px;
}
#left-top {
    flex: 1;
    text-align: left;
    margin: 5px 0px;
}
#main-content div {
    text-align: center;
    padding: 12px 0px;
}
#main-content img {
    width: 600px;
}
#main-content h2 {
    text-align: center;
}
#main-content h2 a {
    background-color: #111111;
    border-radius: 16px;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
}
#main-content h3 {
    text-align: center;
    margin: 36px 0px 0px 0px;
}