@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: "Zain", sans-serif;
}

#header {
    display: flex;
    align-items: center;
    background-color: rgb(253, 242, 124);
    padding: 10px 48px;
}

#header #logo {
    flex: 1;
    padding: 0px 24px;
    margin: 0px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 110, 255);
    font-family: "Sour Gummy", serif;
}

#header #hyperlinks {
    display: flex;
}

#hyperlinks a {
    padding: 16px 28px;
    margin: 12px;
    text-decoration: none;
    font-size: 24px;
    color: rgb(0, 110, 255);
    display: inline-block;
    font-weight: bold;
    /* color: #222222; */
}

#hyperlinks a:hover {
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 60px;
}

#hero-1 {
    background-image: url("../images/adopt-hero-v2.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}

#hero-1 #hero-content-1 {
    position: absolute;
    top: 50%;
    left: 5%;
}

#hero-content-1 h2 {
    color: white;
    font-size: 80px;
    margin-bottom: 20px;
}

#hero-content-1 a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    /* background-color:rgb(0, 110, 255); */
    border: 4px solid rgb(253, 242, 124);
    padding: 14px 32px;
    border-radius: 60px;
    font-family: "Sour Gummy", serif;
}

.pet-page .pet-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pet-page {
    display: flex;
    /* align-items: center; */
    width: 90vw;
    max-width: 1000px;
    margin: auto auto;
    margin-top: 68px;
}

.pet-info {
    margin-left: 36px;
    width: 250vh;
    display: flex;
    flex-direction: column;
}

.pet-info h2 {
    font-size: 62px;
    font-family: "Sour Gummy", serif;
    margin: 8px 0px;
}

.pet-info p {
    font-size: 24px;
    /* flex: 1; */
}

.pet-info .age {
    font-weight: bold;
}

.pet-info a {
    text-decoration: none;
    color: rgb(0, 110, 255);
    border: 3px solid rgb(0, 110, 255);
    border-radius: 60px;
    display: block;
    padding: 14px 24px;
    margin-bottom: 24px;
    text-align: center;
    font-family: "Sour Gummy", serif;
    font-size: 20px;
    font-weight: bold;
}