* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(155, 200, 148);
    margin-right: 450px;
    margin-left: 450px;
    margin-top: 200px;
    margin-bottom: 200px;
}
.card {
    background-color: rgb(252, 250, 245);
    padding: 30px;
    border: 5px solid rgb(208, 206, 206);
}
.links a {
    color: rgb(255, 255, 255);
}
.title-alignment {
    text-align: center;
}