* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    /* background-color: palevioletred; */
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.light-container {
    background-color: palevioletred;
    padding: 48px 0px;
}

.dark-container {
    background-color: midnightblue;
    padding: 48px 0px;
    color: whitesmoke;
}