* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#layout {
    max-width: 900px;
    margin: 48px auto;
}

#hero {
    background-image: url(../images/candy-hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero #hero-content {
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 72px;
    color: whitesmoke;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    padding: 20px;
}

#gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
    border-radius: 10px;
}