/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

div.frames img {
    border: 5px ridge rgb(233, 233, 233);
    background-color: rgb(241, 241, 241);
    padding: 5px;
    box-shadow: inset 0px 2px 7px 1px rgba(128, 128, 128, 0.201);
}

#artist {
    width: 100%;
    border: 5px ridge whitesmoke;
    background-color: whitesmoke;
    padding: 5px;
    margin-top: 20px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    box-shadow: -1px -2px 2px #00000033;
    box-shadow: inset 0px 2px 7px 1px rgba(147, 146, 146, 0.201);
}

#frame1 {
    width: 70px;
    margin-top: 15px;
    box-shadow: inset 0px 0px 2px 1px rgb(162, 161, 161);
}

#frame2 {
    width: 100px;
    margin-top: 50px;
    box-shadow: inset 0px 0px 2px 1px rgb(162, 161, 161);
}

#middle {
    margin-left: 10px;
}
#frame3 {
    width: 70px;
    margin-top: 20px;
    box-shadow: inset 0px 0px 2px 1px rgb(162, 161, 161);
}

#frame4 {
    width: 60px;
    margin-top: 25px;
    box-shadow: inset 0px 0px 2px 1px rgb(162, 161, 161);
}

#frame5 {
    width: 85px;
    margin-top: 30px;
    margin-left: 30px;
    box-shadow: inset 0px 0px 2px 1px rgb(162, 161, 161);
}

#frame6 {
    width: 50px;
    margin-top: 10px;
    box-shadow: inset 0px 0px 2px 1px rgb(162, 161, 161);
}